In [1]:
import pandas as pd
import scipy 
from scipy import stats
import statsmodels.api as sm

C:\Users\Public\Miniconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
data=pd.read_csv("C:\\Users\\nthambat\\Downloads\\BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

## the dependent and independent variables are discrete
## chi-square test

In [17]:
x=data.iloc[:,[1,2,3]]
y=data.iloc[:,[0]]

In [25]:
y=data.iloc[:,-1]

In [26]:
y

0     70
1    750
Name: South, dtype: int64